@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
  margin: 0;
}



header {
  font-family: 'IBM Plex Mono',sans-serif;
  display: flex;
  justify-content: space-between;
  background-color:aqua
}

.item-container{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}