body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color:aqua
}

.item-container{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}