@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

html {
  background-color: rgba(88, 161, 161, 0.793);

  body {
    margin: 0;

    header {
      font-family: "IBM Plex Mono", sans-serif;
      display: flex;
      justify-content: space-between;
      background-color: rgb(143, 233, 233);

      height: 3rem;
      // position: fixed;
      width: 100%;
      z-index: 100;

      .logo {
        font-family: "Dancing Script", sans-serif;
        font-size: 2.5rem;
        padding-left: 1rem;
        color: #ff4500;
      }

      div {
        a {
          padding: 1rem;
          font-size: 1.5rem;
          text-decoration: none;
          color: rgb(255, 0, 0);
        }
      }
    }

    .item-container {
      display: grid;
      position: relative;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 0.5rem;
      max-width: max-content;
      margin: auto;
      padding: 2rem;

      .product-tab {
        background-color: rgba(171, 212, 243, 0.607);
        border-radius: 0.5rem;
        border: 0rem solid;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .product-tab button {
          width: 100%;
        }

        .color {
          height: 15rem;
          width: 10rem;
          border: 0.3rem solid rgba(0, 0, 0, 0.814);
          border-radius: 0.5rem;
        }
      }
    }

    .cart-checkout {
      background-color: rgba(171, 212, 243, 0.897);
      position: absolute;
      top: 10%;
      width: 30rem;
      left: 35%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      button {
        a {
          text-decoration: none;
        }
      }

      .cart-header {
        display: flex;
        justify-content: center;
        margin: 0.5rem;
        font-size: 2rem;
      }

      .cart-item {
        margin: 0.5rem 1rem;
        border-bottom: 3px dotted;
        padding-bottom: 1rem;

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;

          #checkout-color {
            height: 1.5rem;
            width: 1.5rem;
            border: 0.2rem solid black;
            border-radius: 0.5rem;
          }

          #item-name {
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          div {
            button {
              margin: 1rem;
            }
          }
        }
      }
      .total {
        display: flex;
        justify-content: flex-end;
        margin: 0.5rem 1rem 0.5rem 0;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

/* CSS */
.button-66 {
  margin: 1rem auto;

  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset,
    rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  // margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.button-66:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}
